@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2"),
		url("../fonts/ptsans-400.woff2") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2"),
		url("../fonts/ptsans-700.woff2") format("woff");
	font-weight: 700;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	background: #F2F2F2;
}

.main-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 15px 0 #cccccc;
	background: #FFF;
}


.button {
	font-family: 'PT Sans', sans-serif;
	padding: 8px 50px;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
	background-color: #756157;
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background: #615048;
}

.button:active {
	background-color: #756157;
}

.button:active span {
	opacity: 0.3;
}

.input {
	font-family: inherit;
	font-size: 18px;
}

.input::placeholder {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

/* header */


.navigation-item {
	padding: 20px 0;
}

.page-novigation {
	display: flex;
	align-items: start;
	padding: 0 70px;
	position: relative;
}

.navigation-link {
	position: relative;
	padding: 20px 16px;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #333;
	text-decoration: none;
}

.navigation-link-check {
	text-decoration: underline;
	text-underline-offset: 24px;
	text-decoration-thickness: 2px;
	text-decoration-color: #756257;
}

.navigation-user-container {
	display: flex;
}


.navigation-user-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	list-style: none;
}

.navigation-user-item {
	position: relative;
	display: flex;
	align-items: center;
}

.navigation-user-link {
	width: 44px;
	height: 64px;
	background-position: center;
	background-repeat: no-repeat;
}

.search-icon {
	background-image: url('../image/serch-icon.svg');
}

.like-icon {
	background-image: url('../image/like-icon.svg');
}

.counter-like::after {
	content: '12';
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 15px;
	right: 2px;
	border-radius: 50%;
	font-family: 'PT Sans' sans-serif;
	font-size: 10px;
	line-height: 10px;
	color: #FFF;

	background: #7DB54F;


}

.button-user-container {
	margin: 0;
	padding: 14px 0;
}


.button-user {
	padding: 8px 30px;
	width: 160px;
}


.main-logo-link {
	position: absolute;
	align-self: start;
	z-index: 1;
}

.navigation-list {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: 170px;
	list-style-type: none;
}

/* page-main */

.page-main {
	flex-grow: 1;
}

.main-header {
	display: flex;
	justify-content: center;
	width: 1200px;
	min-height: 485px;
	background-color: #82B3D3;
	background-image: url('../image/index-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.page-main-title {
	margin-top: 51px;
	margin-bottom: 82px;
}

.page-advantages {
	width: 1200px;
	padding: 69px 0;
}


.advantages-title {
	width: 620px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
}

.advantages-text {
	width: 651px;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	color: #333;
}

.info-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}


.info-item {
	width: 230px;
	padding: 103px 85px;
	text-align: center;
	background-color: #f0f6fa;
}

.info-item-container {
	display: flex;
	width: 1200px;
	padding: 0;
	text-align: center;
}

.info-item-text-container {
	width: 230px;
	padding: 103px 85px;
}


.info-item-color-dark {
	background-color: #e6f0f6;
}

.info-item-color {
	background-color: #82B3D3;
}

.info-img-item {
	display: flex;
	background-color: #82B3D3;
}


.info-item-title {
	position: relative;
	width: 175px;
	padding: 0;
	padding-bottom: 30px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	color: #000;

}

.info-item-title::after {
	content: '';
	position: absolute;
	height: 2px;
	background-color: #b3b3b3;
	opacity: 0.3;
	top: 100%;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
}

.info-item-color .info-item-title::after {
	background-color: #fff;
	opacity: 0.3;
}

.info-item-text {
	margin: 0;
	padding: 0;
	line-height: 21px;
	color: #333;
}

.info-item-color-title {
	color: #FFF;
}

.info-item-color-text {
	color: #FFF;
}

.page-aside {
	width: 1200px;
	padding: 64px 0;
	text-align: center;
}

.page-aside-title {
	width: 505px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000;
	text-transform: uppercase;
}

.page-aside-text {
	margin: 0 auto;
	padding: 0;
	width: 490px;
	font-size: 22px;
	line-height: 26px;
	color: #333;
}

.page-servies-info {
	width: 1200px;
	margin-bottom: 96px;
}

.servies-info-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.servies-info-item {
	padding: 80px 85px;
	text-align: center;
}

.servies-icon-home {
	background-image: url('../image/home-advantage-icon.svg');
}

.servies-icon-food {
	background-image: url('../image/food-advantage-icon.svg');
}

.servies-icon-souvenirs {
	background-image: url('../image/present-advantage-icon.svg');
}


.servies-info-title {
	width: 230px;
	margin: 0 auto;
	padding: 0;
	padding-top: 102px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-position: top;
}

.servies-info-text {
	width: 230px;
	margin: 0 auto;
	padding: 0;
	color: #333;
}


.servies-info-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #000;
	text-transform: uppercase;
}

.servies-info-text {
	line-height: 21px;
	color: #333;
}

.search-container {
	width: 1200px;
	margin-bottom: 96px;
}

.search-inner-container {
	width: 592px;
	margin: 0 auto;
	text-align: center;
}



.search-title {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000;
	text-transform: uppercase;
}

.search-text {
	margin: 0;
	padding: 0;
	margin-bottom: 54px;
	font-size: 22px;
	line-height: 26px;
	color: #333;
}

.button-search {
	font-size: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.aside-container {
	width: 1200px;
	margin-bottom: 40px;
	background-color: #82B3D3;
	background-image: url('../image/background-blure-mountans.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.aside-inner-container {
	width: 684px;
	margin: 0 auto;
	padding-top: 96px;
	padding-bottom: 104px;
	text-align: center;
}



.aside-title {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #FFF;
	text-transform: uppercase;
}

.aside-text {
	margin: 0;
	padding: 0;
	margin-bottom: 54px;
	font-size: 22px;
	line-height: 26px;
	color: #FFF;
}

.aside-form {
	display: flex;
}

.aside-email {
	width: 412px;
	padding: 12px 20px;
	border-radius: 4px 0 0 4px;
	border: none;
}

.button-following {
	font-size: 20px;
	background-color: #82B3D3;
	border-radius: 0 4px 4px 0;
}

.button-following:hover {
	background: #68A2CA;
}

.button-following:focus {
	background: #68A2CA;
}

/* footer */

.page-footer {
	width: 1060px;
	display: flex;
	flex-wrap: wrap;
	padding: 40px 70px 30px 70px;
	align-items: start;
}

.social-list {
	width: 142px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	margin: 0;
	padding: 0;
	margin-right: 236px;
	list-style: none;
}

.social-item {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	padding-top: 5px;
}

.social-link {
	display: flex;
	align-items: center;
}

.social-link:hover .social-icon {
	fill: #68A2CA;
}

.social-link:focus .social-icon {
	fill: #68A2CA;
}

.social-link:active {
	opacity: 0.3;
}




.number-container {
	display: flex;
	align-items: center;
	width: 331px;
	margin-right: 236px;
}


.link-number {
	font-size: 40px;
	line-height: 40px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.link-number:hover {
	color: #756157;
}

.link-number:focus {
	color: #756157;
}

.link-number:active {
	opacity: 0.3;
}

.footer-logo-container {
	width: 115px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.footer-logo {
	display: flex;
	align-items: center;
}

.footer-logo:hover path {
	fill: #756157;

}

.footer-logo:focus path {
	fill: #756157;
}

.footer-logo:active path {
	opacity: 0.3;
}



/* catalog */

.main-inner {
	flex-grow: 1;
}


.inner-decorate-container {
	width: 1060px;
	padding: 35px 70px 70px 70px;
	margin-bottom: 50px;
	background-color: #82B3D3;
	background-image: url('../image/section-blure-catalog.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.filter-container {
	width: 1060px;
	margin: 0 auto;
}


.inner-header-title {
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	font-size: 60px;
	font-weight: 700;
	line-height: 78px;
	color: #FFF;
}

.breadcrumbs-item-link {
	font-size: 16px;
	line-height: 21px;
	color: #FFF;
	text-decoration: none;
}

.breadcrumbs-item-link:hover {
	opacity: 0.6;
}

.breadcrumbs-item-link:active {
	opacity: 0.3;
}

.hous:hover {
	opacity: 0.6;
}

.hous:active {
	opacity: 0.3;
}

/* filter */

.breadcrumbs-list {
	margin: 0;
	padding: 0;
	margin-bottom: 28px;
	margin-right: 237px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.breadcrumbs-item {
	position: relative;
	padding-right: 17px;
	margin-right: 10px;
}

.breadcrumbs-item::after {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	content: '';
	width: 7px;
	height: 10px;
	background-image: url('../image/breadcrumbs-arrow-icon.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

.breadcrumbs-item:last-child::after {
	display: none;
}

.breadcrumbs-item-link {}

.catalog-filter-group {
	margin: 0;
	padding: 0;
	margin-right: 70px;
	border: none;
}

.filter-group-container {
	margin-left: auto;
}

.catalog-filter-title {
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #FFF;
	text-transform: capitalize;
}

.range-wrapper-inputs {
	display: flex;
}

.catalog-filter-label {
	position: relative;
}

.range-input {
	width: 103px;
	padding: 12px 20px;
	border-radius: 4px 0 0 4px;
	border: none;
	z-index: 1;
}

.range-input:hover {
	background-color: #E6E6E6;
}

.range-input:focus {
	outline: 3px solid #83B3D3;
}


/* Скрывает стрелки управления числового ввода (для Chrome и Safari)*/

.range-input[type='number']::-webkit-inner-spin-button,
.range-input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Скрывает стрелки управления числового ввода (для FireFox)*/

.range-input[type='number'] {
	-moz-appearance: textfield;
}

.catalog-filter-container {
	display: flex;
}

.catalog-filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-filter-item {
	margin-bottom: 16px;
}

.catalog-filter-button {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-top: 56px;
}

.control-label {
	font-size: 18px;
	line-height: 23px;
	color: #FFF;
}

.filter-name-item {
	font-size: 18px;
	line-height: 23px;
	color: #FFF;
}

.range-input-placeholder {
	position: absolute;
	right: 20px;
	top: 12px;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	opacity: 0.6;
	z-index: 1;
}

.range-input-end {
	margin-left: 2px;
	border-radius: 0 4px 4px 0;
}

.range-input-placeholder-end {
	position: absolute;
	right: 20px;
	top: 12px;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	opacity: 0.6;
	z-index: 1;
}

.range-input-placeholder-right {
	font-size: 18px;
	line-height: 24px;
	color: #000;
	opacity: 0.6;
}

.button-form {
	margin-bottom: 32px;
	font-size: 16px;
	background-color: #82B3D3;
}

.button-form:hover {
	background: #68A2CA;
}

.button-form:focus {
	background: #68A2CA;
}

.button-reset {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #FFF;
	text-transform: uppercase;
	background-color: transparent;
}

.button-reset:hover {
	opacity: 0.6;
	background-color: transparent;
}

.button-reset:focus {
	outline: 3px solid #83B3D3;
	background-color: transparent;
}

.button-reset:active {
	opacity: 0.3;
	background-color: transparent;
}

.section-cards {
	width: 1200px;
}

.filter-search-container {
	width: 1060px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 41px;
}

.section-cards-title {
	margin: 0;
	padding: 0;
	margin-right: auto;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000;
	text-transform: uppercase;
}

.select-control {
	width: 252px;
	padding: 14px 20px;
	border-radius: 4px;
	outline: 2px solid #E5E5E5;
	border: none;
	margin-right: 70px;
	cursor: pointer;
}

.select-control:hover {
	outline-color: #68A2CA;
}

.select-control:focus {
	outline-color: #68A2CA;
}


.select-control {
	line-height: 21px;
	color: #333;
}

.filter-icon-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-icon-item {
	margin-right: 8px;
}

.filter-icon-item:nth-child(3n) {
	margin-right: 0;
}

.filter-button {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	outline: 2px solid #E5E5E5;
	background-repeat: no-repeat;
	background-position: center center;
}

.filter-button-checked {
	outline-color: #000;
}

.filter-button:hover {
	outline-color: #000;
}

.filter-button:focus {
	outline-color: #68A2CA;
}

.filter-button:active {
	outline-color: #000;
}

.table {
	background-image: url('../image/card-view-icon.svg');
}

.slideshow {
	background-image: url('../image/card-monitor-icon.svg');
}

.list {
	background-image: url('../image/card-list-view-icon.svg');
}





/* card */

.product-card {
	width: 1060px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.product-card-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	list-style: none;
}

.product-card-list-item {
	width: 300px;
	padding: 20px;
	display: grid;
	grid-template-rows: 3fr;
	border-radius: 4px;
	outline: 1px solid #E6E6E6;
}


.product-img {
	margin-bottom: 16px;
}


.product-link-img {
	text-decoration: none;
}

.product-card-title {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #000;
}

.card-info-container {
	display: grid;
	grid-template-columns: 140px 140px;
	grid-template-rows: 21px 36px 37px;
	column-gap: 20px;
	row-gap: 16px;
}


.text-card {
	display: inline-block;
	margin: 0;
	padding: 0;

	width: 140px;
	margin-right: auto;
	line-height: 21px;
	color: #333;
}

.product-card-price {
	text-align: right;
	line-height: 21px;
	font-weight: 400;
	color: #333;
}

.button-details {
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
}

.button-details:active span {
	opacity: 0.3;
}

.button-favorites {
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	background-color: #82B3D3;
}

.button-favorites:hover {
	background: #68A2CA;
}

.button-favorites:focus {
	background: #68A2CA;
}

.button-favorites:active span {
	opacity: 0.3;
}

.button-favorites-check {
	background-color: #7DB54F;
}

.button-favorites-check:hover {
	background-color: #6C9E42;
}

.button-favorites-check:focus {
	background-color: #6C9E42;
}

.button-favorites-check:active span {
	opacity: 0.3;
}

.star-icon {
	width: 140px;
	margin-right: 20px;
}



.button-rating {
	padding: 8px 22px;
	width: 96px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 4px;
	text-transform: uppercase;
	color: #333;
	background-color: #F2F2F2;
	text-decoration: none;
}

/* pagination */

.pagination-container {
	width: 1060px;
	margin: 0 auto;
	margin-bottom: 156px;
}

.pagination-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
}

.pagination-link {
	display: flex;
	min-width: 60px;
	height: 60px;
	padding: 0 10px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	background-color: #82B3D3;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
}

.pagination-link:hover {
	background-color: #68A2CA;
}

.pagination-link:focus {
	background-color: #68A2CA;
}

.pagination-link:active span {
	opacity: 0.3;
}

.pagination-checked {
	display: flex;
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: #F2F2F2;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.pagination-link-continuation {
	background-color: #FFF;
	color: #000;
}

.pagination-link-continuation:hover {
	background-color: #F2F2F2;
}

.pagination-link-continuation:focus {
	background-color: #F2F2F2;
}

.pagination-link-continuation:active span {
	opacity: 0.3;
}

/* offer */

.main-inner-aside {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 104px;
}

.main-inner-aside-container {
	width: 684px;
	margin: 0 auto;
	text-align: center;
}



.offer {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #000;
}

.offer-text {
	margin: 0;
	padding: 0;
	margin-bottom: 54px;
	font-size: 22px;
	line-height: 26px;
	color: #333;
}

.action-form {
	display: flex;
}

.email {
	width: 412px;
	padding: 12px 20px;
	border-radius: 4px 0 0 4px;
	border: none;
	background-color: #F2F2F2;
}

/* Модальное окно*/

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(242, 242, 242, 0.8);
	z-index: 2;
}

.modal {
	position: relative;
	width: 577px;
	margin: auto;
	padding: 64px 70px;
	background-color: #ffffff;
	box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	fill: black;
}

.modal-close-button {
	position: absolute;
	padding: 0;
	top: 64px;
	right: 54px;
	width: 53px;
	height: 53px;
	background-color: #F2F2F2;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.modal-close-button:hover {
	background: #E6E6E6;

}

.modal-close-button:focus {
	background: #E6E6E6;
	outline: 3px solid #83B3D3;
}

.modal-close-button:active .close-button {
	fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
	margin: 0;
	padding: 0;
	margin-bottom: 64px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.back-button {
	width: 575px;
	padding: 12px 26px;
	background: #83B3D3;
	border-radius: 10px;
	border: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.back-button:hover {
	background: #68A2CA;
}

.back-button:focus {
	background: #68A2CA;
}

.back-button:active span {
	opacity: 0.3;
}

.text-input {
	position: relative;
	width: 348px;
	height: 50px;
	background: #F2F2F2;
	border-radius: 4px;
	border: none;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	padding-left: 19px;
	padding-right: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

.text-input:hover {
	background: #E6E6E6;
}

.text-input:focus {
	background: #E6E6E6;
	outline: 3px solid #83B3D3;
}

.text-input:active {
	background: #FFFFFF;
	outline: 2px solid #000000;
	color: #000;
}

.for-button-relative {
	position: relative;
}

.date-button {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 20px;
	top: 19px;
	cursor: pointer;
	border: none;
}

.date-button::before {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	display: block;
	background-image: url(../image/data.svg);
	width: 16px;
	height: 15px;
	opacity: 0.3;
}

.field-box {
	position: relative;
	display: block;
	width: 133px;
	height: 50px;
	background-color: #F2F2F2;
	border-radius: 4px;
}

.fiels-box-text {
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}

.minus {
	top: 18px;
	left: 19px;
}

.minus-svg {
	display: block;
	text-align: center;
}

.minus:hover .minus-svg {
	fill: #000000;
}

.plus-svg {
	display: block;
	text-align: center;
}

.plus:hover .plus-svg {
	fill: #000000;
}

.plus {
	top: 18px;
	right: 19px;
}

.field-button {
	background: #F2F2F2;
	position: absolute;
	width: 15px;
	height: 15px;
	border: none;
	cursor: pointer;
}

.field-child-age {
	display: block;
	position: absolute;
	width: 256px;
	height: 143px;
	color: #fff;
	font-size: 16px;
	line-height: 21px;
	background: #333333;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	top: 54px;
	right: 32px;
	z-index: 1;
}

.field-child-age::after {
	position: absolute;
	content: '';
	display: block;
	background-image: url('../image/triangle.svg');
	background-position: center;
	background-repeat: no-repeat;
	width: 19px;
	height: 9px;
	top: -8px;
	right: 119px;
}

.child-age-text {
	display: block;
	padding: 15px 18px 18px 22px;
	text-align: left;
}

.modal-stok {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-text {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	margin-left: 156px;

}

.field-number {
	margin: 15px 63px 15px 60px;
	width: 25px;
	height: 21px;
	appearance: textfield;
	border: none;
	background: #F2F2F2;
	font-size: 18px;
	line-height: 21px;
}

/* Скрывает стрелки управления числового ввода (для Chrome и Safari)*/

.field-number[type='number']::-webkit-inner-spin-button,
.field-number[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Скрывает стрелки управления числового ввода (для FireFox)*/

.field-number[type='number'] {
	-moz-appearance: textfield;
}

.error {
	color: #FF5757;
}

.arrival-date {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
}

.label-field {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	margin-right: 67px;
}

.field {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.field-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.child {
	margin-right: 43px;
	position: relative;
}

.button-child {
	position: absolute;
	top: 15px;
	right: 148px;
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #83B3D3;
	border: none;
	color: #fff;
}

.button-child:focus {
	background: #68A2CA;
}

/*Открывает форму*/

.none {
	display: none;
}
