@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2"),
		url("../fonts/ptsans-400.woff2") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2"),
		url("../fonts/ptsans-700.woff2") format("woff");
	font-weight: 700;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	background: #F2F2F2;
}

.main-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 15px 0 #ccc;
	background: #FFF;
}

.button {
	font-family: 'PT Sans', sans-serif;
	padding: 8px 50px;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
	background-color: #756157;
	border-radius: 4px;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background: #615048;
}

.button:active {
	background-color: #756157;
	color: rgb(255 255 255 / 30%);
}

.input {
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
}

.input::placeholder {
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	color: #000;
	opacity: 0.6;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* header */

.navigation-item {
	padding: 20px 0;
}

.page-novigation {
	display: flex;
	align-items: start;
	padding: 0 70px;
	position: relative;
	z-index: 1;
}

.navigation-link {
	position: relative;
	padding: 20px 16px;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #333;
	text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
	color: rgb(0 0 0 / 60%);
}

.navigation-link:active {
	color: rgb(0 0 0 / 30%);
}

.navigation-link-check {
	text-decoration: underline;
	text-underline-offset: 24px;
	text-decoration-thickness: 2px;
	text-decoration-color: #756257;
}

.navigation-user-container {
	display: flex;
}

.navigation-user-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	list-style: none;
}

.navigation-user-item {
	position: relative;
	display: flex;
	align-items: center;
}

.navigation-user-link {
	width: 44px;
	height: 64px;
	background-position: center;
	background-repeat: no-repeat;
}

.navigation-user-link:hover,
.navigation-user-link:focus {
	opacity: 0.6;
}

.navigation-user-link:active {
	opacity: 0.3;
}



.search-icon {
	background-image: url('../image/serch-icon.svg');
}

.like-icon {
	position: relative;
	background-image: url('../image/like-icon.svg');
}

.counter-like {
	position: absolute;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 11px;
	right: 4px;
	border-radius: 50%;
	font-size: 10px;
	line-height: 10px;
	color: #FFF;
	background: #7DB54F;
}

.button-user-container {
	margin: 0;
	padding: 14px 0;
}

.button-user {
	padding: 8px 30px;
	width: 160px;
}

.main-logo-link {
	position: absolute;
	align-self: start;
	z-index: 1;
}

.navigation-list {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: 168px;
	list-style-type: none;
}

/* page-main */

.page-main {
	flex-grow: 1;
}

.main-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 1200px;
	min-height: 485px;
	background-color: #82B3D3;
	background-image: url('../image/index-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.main-header::after {
	position: absolute;
	content: '';
	background-image: url('../image/decorate-img.svg');
	width: 1200px;
	height: 57px;
	bottom: 0;
}

.page-main-title {
	margin-top: 51px;
	margin-bottom: 82px;
	padding: 0 200px;
}

.page-advantages {
	width: 1200px;
	padding: 69px 0;
	padding-bottom: 89px;
}

.advantages-title {
	width: 620px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
}

.advantages-text {
	width: 651px;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 400;
	line-height: 26px;
	color: #333;
}

.info-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.info-item {
	width: 230px;
	padding: 113px 85px;
	text-align: center;
	background-color: #82B3D3;
}

.info-item:nth-of-type(even) {
	background-color: rgb(131 179 211 / 12%);
}

.info-item:nth-of-type(odd) {
	background-color: rgb(131 179 211 / 20%);
}

.info-item:first-child {
	background-color: #82B3D3;
}

.info-item:last-child {
	background-color: #82B3D3;
}

.info-item-container {
	display: flex;
	width: 1200px;
	padding: 0;
	text-align: center;
	background-color: #82B3D3;
}

.info-item-text-container {
	width: 230px;
	padding: 103px 85px;
}


.info-img-item {
	height: 100%;
	display: flex;
	background-size: cover;
	background-color: #82B3D3;
}

.info-item-title {
	position: relative;
	width: 175px;
	padding: 0;
	padding-bottom: 30px;
	margin: 0 auto;
	margin-bottom: 31px;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	text-transform: uppercase;
	color: #000;

}

.info-item-title::after {
	content: '';
	position: absolute;
	width: 60px;
	height: 2px;
	background-color: #b3b3b3;
	opacity: 0.3;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.info-item-color .info-item-title::after {
	background-color: #fff;
	opacity: 0.3;
}

.info-item-text {
	margin: 0;
	padding: 0;
	line-height: 21px;
	color: #333;
}

.info-item-color-title {
	color: #FFF;
}

.info-item-color-text {
	color: #FFF;
}

.page-aside {
	width: 1200px;
	padding: 64px 0;
	text-align: center;
}

.page-aside-title {
	width: 505px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000;
	text-transform: uppercase;
}

.page-aside-text {
	margin: 0 auto;
	padding: 0;
	width: 490px;
	font-size: 22px;
	line-height: 26px;
	color: #333;
}

.page-servies-info {
	width: 1200px;
	margin-bottom: 96px;
}

.servies-info-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.servies-info-item {
	padding: 81px 85px;
	text-align: center;
}

.servies-info-item:nth-of-type(odd) {
	background-color: rgb(131 179 211 / 12%);
}

.servies-icon-home {
	background-image: url('../image/home-advantage-icon.svg');
}

.servies-icon-food {
	background-image: url('../image/food-advantage-icon.svg');
}

.servies-icon-souvenirs {
	background-image: url('../image/present-advantage-icon.svg');
}

.servies-info-title {
	width: 230px;
	margin: 0 auto;
	padding: 0;
	padding-top: 102px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-position: top;
}

.servies-info-text {
	width: 230px;
	margin: 0 auto;
	padding: 0;
	color: #333;
}

.info-text {
	width: 180px;
}

.servies-info-title {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #000;
	text-transform: uppercase;
}

.servies-info-text {
	line-height: 21px;
	color: #333;
}

.search-container {
	width: 1200px;
	margin-bottom: 110px;
}

.search-inner-container {
	width: 592px;
	margin: 0 auto;
	text-align: center;
}

.search-title {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000;
	text-transform: uppercase;
}

.search-text {
	margin: 0;
	padding: 0;
	margin-bottom: 66px;
	font-size: 22px;
	line-height: 26px;
	color: #333;
}

.button-search {
	font-size: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.aside-container {
	width: 1200px;
	background-color: #82B3D3;
	background-image: url('../image/background-blure-mountans.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.aside-inner-container {
	width: 684px;
	margin: 0 auto;
	padding-top: 96px;
	padding-bottom: 104px;
	text-align: center;
}

.aside-title {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #FFF;
	text-transform: uppercase;
}

.aside-text {
	width: 475px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 54px;
	font-size: 22px;
	line-height: 26px;
	color: #FFF;
}

.aside-form {
	display: flex;
}

.aside-email {
	width: 412px;
	padding: 13px 20px;
	border-radius: 4px 0 0 4px;
	border: none;
}

.button-following {
	padding-top: 13px;
	padding-bottom: 13px;
	font-size: 20px;
	background-color: #82B3D3;
	border-radius: 0 4px 4px 0;
}

.button-following:hover {
	background: #68A2CA;
}

.button-following:focus {
	background: #68A2CA;
}

/* footer */

.page-footer {
	width: 1060px;
	display: flex;
	flex-wrap: wrap;
	padding: 46px 70px 30px;
	align-items: start;
}

.social-list {
	width: 140px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-self: center;
	gap: 7px;
	margin: 0;
	padding: 0;
	margin-right: 238px;
	list-style: none;
}

.social-item {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	padding-top: 5px;
}

.social-link {
	display: flex;
	align-items: center;
}

.social-link:hover .social-icon {
	fill: #68A2CA;
}

.social-link:focus .social-icon {
	fill: #68A2CA;
}

.social-link:active {
	opacity: 0.3;
}

.number-container {
	display: flex;
	align-items: center;
	width: 331px;
	margin-right: 236px;
}

.link-number {
	font-size: 40px;
	line-height: 40px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
}

.link-number:hover {
	color: #756157;
}

.link-number:focus {
	color: #756157;
}

.link-number:active {
	opacity: 0.3;
}

.footer-logo-container {
	width: 115px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-top: 4px;
}

.footer-logo {
	display: flex;
	align-items: center;
}

.footer-logo:hover path {
	fill: #756157;

}

.footer-logo:focus path {
	fill: #756157;
}

.footer-logo:active path {
	opacity: 0.3;
}

/* catalog */

.main-inner {
	flex-grow: 1;
}

.inner-decorate-container {
	width: 1060px;
	padding: 35px 70px 57px;
	margin-bottom: 52px;
	background-color: #82B3D3;
	background-image: url('../image/section-blure-catalog.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.filter-container {
	width: 1060px;
	margin: 0 auto;
}

.inner-header {
	margin-bottom: 40px;
}

.inner-header-title {
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
	font-size: 60px;
	font-weight: 700;
	line-height: 78px;
	color: #FFF;
}

.breadcrumbs-item-link {
	font-size: 16px;
	line-height: 21px;
	color: #FFF;
	text-decoration: none;
}

.breadcrumbs-item-link:hover {
	opacity: 0.6;
}

.breadcrumbs-item-link:active {
	opacity: 0.3;
}

.hous:hover {
	opacity: 0.6;
}

.hous:active {
	opacity: 0.3;
}

/* filter */

.breadcrumbs-list {
	margin: 0;
	padding: 0;
	margin-right: 237px;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.breadcrumbs-item {
	position: relative;
	padding-right: 17px;
	margin-right: 10px;
}

.breadcrumbs-item::after {
	position: absolute;
	display: flex;
	right: 0;
	top: 50%;
	transform: translateY(-40%);
	content: '';
	width: 7px;
	height: 10px;
	background-image: url('../image/breadcrumbs-arrow-icon.svg');
	background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
	display: none;
}

.breadcrumbs-item-link {}

.catalog-filter-group {
	margin: 0;
	padding: 0;
	margin-right: 71px;
	border: none;
}

/* filter-price */

.filter-group-container {
	margin-left: auto;
}

.catalog-filter-title {
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	color: #FFF;
	text-transform: capitalize;
}

.range-wrapper-inputs {
	display: flex;
	margin-bottom: 44px;
}

.catalog-filter-label {
	position: relative;
}

.range-input {
	width: 70px;
	padding: 13px 53px 12px 20px;
	border-radius: 4px 0 0 4px;
	border: none;
	z-index: 1;
}

.range-input:hover {
	background-color: #E6E6E6;
}

.range-input:focus {
	outline: 3px solid #83B3D3;
}

/* Скрывает стрелки управления числового ввода (для Chrome и Safari)*/

.range-input[type='number']::-webkit-inner-spin-button,
.range-input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Скрывает стрелки управления числового ввода (для FireFox)*/

.range-input[type='number'] {
	-moz-appearance: textfield;
}

.catalog-filter-container {
	display: flex;
}

.catalog-filter-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-filter-item {
	margin-bottom: 16px;
}

.control {
	position: relative;
	display: block;
	padding-left: 36px;
	cursor: pointer;
}

.control-mark {
	position: absolute;
	display: block;
	left: 0;
	top: 2px;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: #fff;
}

.control:hover {
	opacity: 0.6;
}

.control-input:focus-visible + .control-mark {
	outline: 3px solid #83B3D3;
}

.control:active {
	opacity: 0.3;
}

.control-disabled {
	opacity: 0.3;
	pointer-events: none;
}

.control-disabled:hover {
	opacity: 0.3;
}

.control-input[type='checkbox']:checked + .control-mark::before {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	background-image: url('../image/tick-box-icon.svg');
}

.control-input[type='radio']:checked + .control-mark::before {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: #3F5E72;
}

.control-mark-input {
	border-radius: 50%;
}

.catalog-filter-button {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin-top: 56px;
}

.control-label {
	font-size: 18px;
	line-height: 23px;
	color: #FFF;
}

.filter-name-item {
	font-size: 18px;
	line-height: 23px;
	color: #FFF;
}

.range-input-placeholder {
	position: absolute;
	right: 20px;
	top: 12px;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	opacity: 0.6;
	z-index: 1;
}

.range-input-end {
	margin-left: 2px;
	border-radius: 0 4px 4px 0;
}

.range-input-placeholder-end {
	position: absolute;
	right: 20px;
	top: 12px;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	opacity: 0.6;
	z-index: 1;
}

.range-scale {
	position: relative;
	width: 287px;
	height: 4px;
	background-color: rgb(255 255 255 / 30%);
}

.range-bar {
	position: absolute;
	height: 4px;
	background-color: #fff;
}

.range-toggle {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -8px;
	border-radius: 4px;
	border: none;
	background-color: #fff;
	cursor: pointer;
}

.toggle-min {
	left: 0;
}

.toggle-max {
	right: 0;
}

.range-toggle:focus {
	outline: 3px solid #83B3D3;
}

.range-toggle:active {
	outline: 2px solid #83B3D3;
}


.range-input-placeholder-right {
	font-size: 18px;
	line-height: 24px;
	color: #000;
	opacity: 0.6;
}

.button-form {
	margin-bottom: 32px;
	font-size: 16px;
	background-color: #82B3D3;
}

.button-form:hover {
	background: #68A2CA;
}

.button-form:focus {
	background: #68A2CA;
}

.button-reset {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	color: #FFF;
	text-transform: uppercase;
	background-color: transparent;
}

.button-reset:hover {
	color: rgb(255 255 255 / 60%);
	background-color: transparent;
}

.button-reset:focus {
	outline: 3px solid #83B3D3;
	background-color: transparent;
}

.button-reset:active {
	color: rgb(255 255 255 / 30%);
	background-color: transparent;
}

.section-cards {
	width: 1200px;
	margin-bottom: 42px;
}

.filter-search-container {
	width: 1060px;
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.section-cards-title {
	margin: 0;
	padding: 0;
	margin-right: auto;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000;
	text-transform: uppercase;
}

.select {
	position: relative;
	width: 260px;
	display: flex;
	align-items: center;
	margin-right: 100px;
}

.select-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 12px 19px;
	font-family: inherit;
	padding-right: 105px;
	border-radius: 4px;
	outline: 2px solid #E5E5E5;
	background-image: url('../image/arow-filter-icon.svg');
	background-repeat: no-repeat;
	background-position: right 20px center;
	font-size: 18px;
	border: none;
	cursor: pointer;
}

.select-control:hover {
	outline-color: #68A2CA;
}

.select-control:focus {
	outline-color: #68A2CA;
}


.select-control {
	line-height: 21px;
	color: #333;
}

.filter-icon-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.filter-icon-item {
	margin-right: 12px;
}

.filter-icon-item:nth-child(3n) {
	margin-right: 0;
}

.filter-button {
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	outline: 2px solid #E5E5E5;
	background-repeat: no-repeat;
	background-position: center center;
}

.filter-button-checked {
	outline-color: #000;
}

.filter-button:hover {
	outline-color: #000;
}

.filter-button:focus {
	outline-color: #68A2CA;
}

.filter-button:active {
	outline-color: #000;
}

.table {
	background-image: url('../image/card-view-icon.svg');
}

.slideshow {
	background-image: url('../image/card-monitor-icon.svg');
}

.list {
	background-image: url('../image/card-list-view-icon.svg');
}





/* card */

.product-card {
	width: 1060px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.product-card-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	list-style: none;
}

.product-card-list-item {
	width: 300px;
	padding: 20px;
	display: grid;
	grid-template-rows: 3fr;
	border-radius: 4px;
	outline: 1px solid #E6E6E6;
}


.product-img {
	margin-bottom: 12px;
}


.product-link-img {
	text-decoration: none;
}

.product-card-title {
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	color: #000;
}

.card-info-container {
	display: grid;
	grid-template-columns: 140px 140px;
	grid-template-rows: 1fr;
	gap: 16px 20px;
}

.text-card {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 140px;
	margin-right: auto;
	color: #333;
}

.product-card-price {
	text-align: right;
	font-weight: 400;
	color: #333;
}

.button-details {
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
}

.button-details:active span {
	opacity: 0.3;
}

.button-favorites {
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	background-color: #82B3D3;
}

.button-favorites:hover {
	background: #68A2CA;
}

.button-favorites:focus {
	background: #68A2CA;
}

.button-favorites:active span {
	opacity: 0.3;
}

.button-favorites-check {
	background-color: #7DB54F;
}

.button-favorites-check:hover {
	background-color: #6C9E42;
}

.button-favorites-check:focus {
	background-color: #6C9E42;
}

.button-favorites-check:active span {
	opacity: 0.3;
}

.card-star-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 6px;
	list-style: none;
}

.star-item {
	width: 18px;
	height: 18px;
	background-image: url("../image/star-card.svg");
	background-position: center;
	background-repeat: no-repeat;
}


.button-rating {
	padding: 8px 22px;
	width: 96px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 4px;
	text-transform: uppercase;
	color: #333;
	background-color: #F2F2F2;
	text-decoration: none;
}

/* pagination */

.pagination-container {
	width: 1060px;
	margin: 0 auto;
	margin-bottom: 156px;
}

.pagination-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	list-style: none;
}

.pagination-link {
	display: flex;
	min-width: 60px;
	height: 60px;
	padding: 0 10px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	background-color: #82B3D3;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFF;
	text-decoration: none;
}

.pagination-link:hover {
	background-color: #68A2CA;
}

.pagination-link:focus {
	background-color: #68A2CA;
}

.pagination-link:active {
	color: rgb(255 255 255 / 30%);
}

.pagination-checked {
	display: flex;
	width: 60px;
	height: 60px;
	align-items: center;
	justify-content: center;
	background-color: #F2F2F2;
	font-size: 20px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.pagination-link-continuation {
	background-color: #FFF;
	color: #000;
}

.pagination-link-continuation:hover,
.pagination-link-continuation:focus {
	background-color: #F2F2F2;
}

.pagination-link-continuation:active {
	color: rgb(0 0 0 / 30%);
	background-color: #F2F2F2;
}

/* offer */

.main-inner-aside {
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 104px;
}

.main-inner-aside-container {
	width: 684px;
	margin: 0 auto;
	text-align: center;
}

.offer {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	color: #000;
}

.offer-text {
	margin: 0;
	padding: 0;
	margin-bottom: 54px;
	font-size: 22px;
	line-height: 26px;
	color: #333;
}

.action-form {
	display: flex;
}

.email {
	width: 412px;
	padding: 12px 20px;
	font-family: inherit;
	font-weight: 400;
	border-radius: 4px 0 0 4px;
	border: none;
	background-color: #F2F2F2;
}

.email::placeholder {
	font-weight: 400;
}

/* Модальное окно*/

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgb(242 242 242 / 80%);
	z-index: 2;
}

.modal {
	position: relative;
	width: 577px;
	margin: auto;
	padding: 64px 70px;
	background-color: #fff;
	box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
	border-radius: 30px;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	fill: black;
}

.modal-close-button {
	position: absolute;
	padding: 0;
	top: 64px;
	right: 51px;
	width: 53px;
	height: 53px;
	background-color: #F2F2F2;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.modal-close-button:hover {
	background: #E6E6E6;

}

.modal-close-button:focus {
	background: #E6E6E6;
	outline: 3px solid #83B3D3;
}

.modal-close-button:active .close-button {
	fill: rgb(0 0 0 / 30%);
}

.modal-title {
	margin: 0;
	padding: 0;
	padding-right: 40px;
	margin-bottom: 65px;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.modal-content {
	display: flex;
	flex-wrap: wrap;
}


.back-button {
	font-family: inherit;
	width: 575px;
	margin-right: auto;
	margin-left: auto;
	padding: 12px 26px;
	background: #83B3D3;
	border-radius: 10px;
	border: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	display: block;

}

.back-button:hover {
	background: #68A2CA;
}

.back-button:focus {
	background: #68A2CA;
}

.back-button:active {
	color: rgb(255 255 255 / 30%);
}

.text-input {
	position: relative;
	width: 370px;
	background: #F2F2F2;
	border-radius: 4px;
	border: none;
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	color: #000;
	padding: 13px 50px 13px 19px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.text-input:hover {
	background: #E6E6E6;
}

.text-input:focus {
	background: #E6E6E6;
	outline: 3px solid #83B3D3;
}

.text-input:active {
	background: #FFF;
	outline: 2px solid #000;
	color: #000;
}

.for-button-relative {
	position: relative;
}

.date-button {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 22px;
	top: 15px;
	cursor: pointer;
	border: none;
}

.date-button::before {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	display: block;
	background-image: url("../image/data.svg");
	width: 16px;
	height: 15px;
	opacity: 0.3;
}

.field-box {
	position: relative;
	display: block;
	width: 110px;
	height: 50px;
	background-color: #F2F2F2;
	border-radius: 4px;
}

.fiels-box-text {
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}

.minus {
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
}

.minus-svg {
	flex-shrink: 0;
}

.field-button:hover svg {
	opacity: 0.6;
}

.field-button:active svg {
	opacity: 0.3;
}

.plus-svg {
	flex-shrink: 0;
}

.plus {
	top: 50%;
	transform: translateY(-50%);
	right: 9px;
}

.field-button {
	position: absolute;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: #F2F2F2;
	cursor: pointer;
}

.field-button:focus {
	outline: 3px solid #82B3D3;
	border-radius: 4px;
}



.modal-stok {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-text {
	padding: 0;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	margin-left: 157px;

}

.field-number {
	margin: 15px 63px 15px 46px;
	padding: 0;
	width: 20px;
	height: 21px;
	appearance: textfield;
	font-family: inherit;
	font-weight: 700;
	text-align: center;
	border: none;
	background: #F2F2F2;
	font-size: 18px;
	line-height: 21px;
}

.field-number:focus {
	border-radius: 4px;
	outline: 3px solid #82B3D3;
}

/* Скрывает стрелки управления числового ввода (для Chrome и Safari)*/

.field-number[type='number']::-webkit-inner-spin-button,
.field-number[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Скрывает стрелки управления числового ввода (для FireFox)*/

.field-number[type='number'] {
	-moz-appearance: textfield;
}

.error {
	color: #FF5757;
}

.arrival-date {
	width: 125px;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #000;
}

.label-field {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	margin-right: 46px;
}

.field {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.button-child-container:hover .field-child-age {
	display: block;
}


.field-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 47px;
	margin-top: -4px;
}

.child {
	margin-left: 88px;
	margin-right: 12px;
}

.button-child-container {
	position: relative;
	width: 25px;
	height: 25px;
	margin-right: 46px;
}

.field-child-age {
	display: none;
	width: 256px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 40px;
	color: #fff;
	font-size: 16px;
	line-height: 21px;
	background: #333;
	box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
	border-radius: 10px;
	z-index: 1;
}

.field-child-age::after {
	position: absolute;
	content: '';
	display: block;
	background-image: url('../image/triangle.svg');
	background-position: center;
	background-repeat: no-repeat;
	width: 19px;
	height: 9px;
	top: -8px;
	right: 119px;
}

.child-age-text {
	display: block;
	padding: 19px 18px 19px 22px;
	text-align: left;
}


.button-child {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #83B3D3;
	border: none;
	color: #fff;
	cursor: pointer;
}

.button-child:hover .field-child-age {
	display: block;
}

.button-child:focus {
	background: #68A2CA;
}

/*Открывает форму*/

.none {
	display: none;
}

/* Неактивные кнопки */

.button-disabled {
	background-color: #E5E5E5;
}

.button-disabled:hover {
	opacity: 1;
}

.button-disabled:active {
	opacity: 1;
}
